{{! This is the post work - each post will be output using this markup }}
<section>
  {{#foreach posts}}
    {{#has tag="portfolio"}}
      <article class="{{post_class}} work-sample">
        <a href="{{url}}">
          <figure{{#if image}} style="background-image: url('{{image}}');"{{/if}}>
            {{#if image}}<img src="{{image}}" width="0" height="0"/>{{/if}}
          </figure>

          <section>
              <h6 class="post-title">{{{title}}}</h6>
          </section>
        </a>
      </article>
    {{/has}}

    {{#has tag="thoughts"}}
      <article class="{{post_class}} thought">
          <header class="post-header">
            <h3 class="post-title"><a href="{{url}}">{{{title}}}</a></h3>
            <section class="post-meta">
              <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </section>
          </header>

          <section class="post-excerpt">
              <p>{{excerpt words="44"}}</p>
              <a class="read-more" href="{{url}}">Read more &raquo;</a>
          </section>
      </article>
    {{/has}}
  {{/foreach}}
</section>
