<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  {{#if tag}}
    {{#tag}}<title>{{name}} - {{@blog.title}}</title>{{/tag}}
  {{else}}
    {{#if post}}
      {{#post}}<title>{{title}} - {{@blog.title}}</title>{{/post}}
    {{else}}
      <title>{{@blog.title}}</title>
    {{/if}}
  {{/if}}

  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
  <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">

  {{#if @blog.navigation}}
    <span tabindex="0" class="menu-button icon-menu">
      <svg version="1.1" id="hamburger-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve" preserveAspectRatio="xMaxYMin meet">
        <rect/>
        <rect/>
        <rect/>
      </svg>
    </span>
  {{/if}}

  {{navigation}}

  {{! Main navigation menu }}
  <nav class="main-nav">
    <h1 class="page-title"><a href="{{@blog.url}}">{{#if @blog.title}}{{@blog.title}}{{else}}Blog name!{{/if}}</a></h1>
  </nav>

  <div class="site-wrapper">
    {{! Everything else gets inserted here }}
    {{{body}}}
  </div>

  <footer class="site-footer">
    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
  </footer>

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/prefixfree.min.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
  {{! The main JavaScript file for hi contrast }}
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
