{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}
  {{#if image}}
    <section class="post-heading">
      <header class="main-header post-head">
        <figure class="post-cover" style="background-image: url({{image}})"></figure>
      </header>
      
      {{#has tag="thoughts"}}
        <section class="main-info">
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          <h1 class="post-title">{{title}}</h1>
          <p class="post-excerpt">{{excerpt characters="200"}}</p>
          <p class="post-cap">{{title}}</p>
        </section>
      {{else}}
        <section class="main-info-p">
          <h1 class="post-title">{{title}}</h1>
          <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          <p class="post-excerpt">{{excerpt characters="200"}}</p>
        </section>
      {{/has}}
    </section>
  {{/if}}

  <main class="content" role="main">
    <article class="{{post_class}}">
      {{#if image}}
      {{else}}
        <header class="post-header no-cover">
          <h1 class="post-title">{{title}}</h1>
          <section class="post-meta">
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
          </section>
        </header>
      {{/if}}

      <section class="post-content">
        {{content}}
      </section>
    </article>

    <aside>
      {{#if @blog.navigation}}
        <menu class="menu-box right">
          {{navigation}}
        </menu>
      {{/if}}

      <footer class="post-footer">
        {{#has tag="thoughts"}}
          {{#author}}
            <section class="author">
              {{#if image}}
                <figure class="author-image">
                  <span class="img" style="background-image: url({{image}})">{{name}}'s Picture</span>
                </figure>
              {{/if}}
              <h4 class="author-name"><span>Posted by</span>{{name}}</h4>
            </section>
          {{/author}}
        {{/has}}
        <section class="share">
          <span>Share this</span>
          <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>
          <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">Facebook</a>
          <a class="icon-googleplus" href="https://plus.google.com/share?url={{url absolute="true"}}"
             onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">Google+</a>
        </section>

        <section class="related-posts">
          <span>More projects:</span>

          {{#prev_post}}
            <a href="{{url}}">{{title}}</a>
          {{/prev_post}}

          {{#next_post}}
            <a href="{{url}}">{{title}}</a>
          {{/next_post}}
        </section>
      </footer>
    </aside>
  </main>
{{/post}}
